<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sygs.dao.mysql.kndxy.KndxyMapper">
  <resultMap id="BaseResultMap" type="com.sygs.pojo.mysql.kndxy.Kndxy">
    <id column="BillNO" jdbcType="INTEGER" property="billno" />
    <id column="EntId" jdbcType="VARCHAR" property="entid" />
    <result column="BillCode" jdbcType="VARCHAR" property="billcode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="Dates" jdbcType="VARCHAR" property="dates" />
    <result column="OnTime" jdbcType="VARCHAR" property="ontime" />
    <result column="StartDate" jdbcType="VARCHAR" property="startdate" />
    <result column="EndDate" jdbcType="VARCHAR" property="enddate" />
    <result column="BusinessCode" jdbcType="VARCHAR" property="businesscode" />
    <result column="BusinessName" jdbcType="VARCHAR" property="businessname" />
    <result column="k_zhangqilx" jdbcType="VARCHAR" property="kZhangqilx" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="staffname" jdbcType="VARCHAR" property="staffname" />
    <result column="k_khfl" jdbcType="VARCHAR" property="kKhfl" />
    <result column="ContractCode" jdbcType="VARCHAR" property="contractcode" />
    <result column="Legaler" jdbcType="VARCHAR" property="legaler" />
    <result column="Delegation" jdbcType="VARCHAR" property="delegation" />
    <result column="k_oldje" jdbcType="DECIMAL" property="kOldje" />
    <result column="k_xindts1" jdbcType="VARCHAR" property="kXindts1" />
    <result column="k_xyzq" jdbcType="DECIMAL" property="kXyzq" />
    <result column="k_zqtype" jdbcType="VARCHAR" property="kZqtype" />
    <result column="k_khlx" jdbcType="VARCHAR" property="kKhlx" />
    <result column="K_xindts" jdbcType="INTEGER" property="kXindts" />
    <result column="sxed" jdbcType="DECIMAL" property="sxed" />
    <result column="caozyname" jdbcType="VARCHAR" property="caozyname" />
    <result column="k_flzc" jdbcType="LONGVARCHAR" property="kFlzc" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    BillNO, EntId, BillCode, status, Dates, OnTime, StartDate, EndDate, BusinessCode, 
    BusinessName, k_zhangqilx, department, staffname, k_khfl, ContractCode, Legaler, 
    Delegation, k_oldje, k_xindts1, k_xyzq, k_zqtype, k_khlx, K_xindts, sxed, caozyname,  k_flzc,
    is_delete, create_date, update_date
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from k_ndxy
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    delete from k_ndxy
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    insert into k_ndxy (BillNO, EntId, BillCode, 
      status, Dates, OnTime, 
      StartDate, EndDate, BusinessCode, 
      BusinessName, k_zhangqilx, department, 
      staffname, k_khfl, ContractCode, 
      Legaler, Delegation, k_oldje, 
      k_xindts1, k_xyzq, k_zqtype, 
      k_khlx, K_xindts, sxed, 
      caozyname, is_delete, create_date, 
      update_date, k_flzc)
    values (#{billno,jdbcType=INTEGER}, #{entid,jdbcType=VARCHAR}, #{billcode,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{dates,jdbcType=VARCHAR}, #{ontime,jdbcType=VARCHAR}, 
      #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{businesscode,jdbcType=VARCHAR}, 
      #{businessname,jdbcType=VARCHAR}, #{kZhangqilx,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{staffname,jdbcType=VARCHAR}, #{kKhfl,jdbcType=VARCHAR}, #{contractcode,jdbcType=VARCHAR}, 
      #{legaler,jdbcType=VARCHAR}, #{delegation,jdbcType=VARCHAR}, #{kOldje,jdbcType=DECIMAL}, 
      #{kXindts1,jdbcType=VARCHAR}, #{kXyzq,jdbcType=DECIMAL}, #{kZqtype,jdbcType=VARCHAR}, 
      #{kKhlx,jdbcType=VARCHAR}, #{kXindts,jdbcType=INTEGER}, #{sxed,jdbcType=DECIMAL}, 
      #{caozyname,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{kFlzc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    insert into k_ndxy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        BillNO,
      </if>
      <if test="entid != null">
        EntId,
      </if>
      <if test="billcode != null">
        BillCode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="dates != null">
        Dates,
      </if>
      <if test="ontime != null">
        OnTime,
      </if>
      <if test="startdate != null">
        StartDate,
      </if>
      <if test="enddate != null">
        EndDate,
      </if>
      <if test="businesscode != null">
        BusinessCode,
      </if>
      <if test="businessname != null">
        BusinessName,
      </if>
      <if test="kZhangqilx != null">
        k_zhangqilx,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="staffname != null">
        staffname,
      </if>
      <if test="kKhfl != null">
        k_khfl,
      </if>
      <if test="contractcode != null">
        ContractCode,
      </if>
      <if test="legaler != null">
        Legaler,
      </if>
      <if test="delegation != null">
        Delegation,
      </if>
      <if test="kOldje != null">
        k_oldje,
      </if>
      <if test="kXindts1 != null">
        k_xindts1,
      </if>
      <if test="kXyzq != null">
        k_xyzq,
      </if>
      <if test="kZqtype != null">
        k_zqtype,
      </if>
      <if test="kKhlx != null">
        k_khlx,
      </if>
      <if test="kXindts != null">
        K_xindts,
      </if>
      <if test="sxed != null">
        sxed,
      </if>
      <if test="caozyname != null">
        caozyname,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="kFlzc != null">
        k_flzc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        #{billno,jdbcType=INTEGER},
      </if>
      <if test="entid != null">
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="billcode != null">
        #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="dates != null">
        #{dates,jdbcType=VARCHAR},
      </if>
      <if test="ontime != null">
        #{ontime,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="businesscode != null">
        #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="businessname != null">
        #{businessname,jdbcType=VARCHAR},
      </if>
      <if test="kZhangqilx != null">
        #{kZhangqilx,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="kKhfl != null">
        #{kKhfl,jdbcType=VARCHAR},
      </if>
      <if test="contractcode != null">
        #{contractcode,jdbcType=VARCHAR},
      </if>
      <if test="legaler != null">
        #{legaler,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null">
        #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="kOldje != null">
        #{kOldje,jdbcType=DECIMAL},
      </if>
      <if test="kXindts1 != null">
        #{kXindts1,jdbcType=VARCHAR},
      </if>
      <if test="kXyzq != null">
        #{kXyzq,jdbcType=DECIMAL},
      </if>
      <if test="kZqtype != null">
        #{kZqtype,jdbcType=VARCHAR},
      </if>
      <if test="kKhlx != null">
        #{kKhlx,jdbcType=VARCHAR},
      </if>
      <if test="kXindts != null">
        #{kXindts,jdbcType=INTEGER},
      </if>
      <if test="sxed != null">
        #{sxed,jdbcType=DECIMAL},
      </if>
      <if test="caozyname != null">
        #{caozyname,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="kFlzc != null">
        #{kFlzc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    update k_ndxy
    <set>
      <if test="billcode != null">
        BillCode = #{billcode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="dates != null">
        Dates = #{dates,jdbcType=VARCHAR},
      </if>
      <if test="ontime != null">
        OnTime = #{ontime,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        StartDate = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        EndDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="businesscode != null">
        BusinessCode = #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="businessname != null">
        BusinessName = #{businessname,jdbcType=VARCHAR},
      </if>
      <if test="kZhangqilx != null">
        k_zhangqilx = #{kZhangqilx,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null">
        staffname = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="kKhfl != null">
        k_khfl = #{kKhfl,jdbcType=VARCHAR},
      </if>
      <if test="contractcode != null">
        ContractCode = #{contractcode,jdbcType=VARCHAR},
      </if>
      <if test="legaler != null">
        Legaler = #{legaler,jdbcType=VARCHAR},
      </if>
      <if test="delegation != null">
        Delegation = #{delegation,jdbcType=VARCHAR},
      </if>
      <if test="kOldje != null">
        k_oldje = #{kOldje,jdbcType=DECIMAL},
      </if>
      <if test="kXindts1 != null">
        k_xindts1 = #{kXindts1,jdbcType=VARCHAR},
      </if>
      <if test="kXyzq != null">
        k_xyzq = #{kXyzq,jdbcType=DECIMAL},
      </if>
      <if test="kZqtype != null">
        k_zqtype = #{kZqtype,jdbcType=VARCHAR},
      </if>
      <if test="kKhlx != null">
        k_khlx = #{kKhlx,jdbcType=VARCHAR},
      </if>
      <if test="kXindts != null">
        K_xindts = #{kXindts,jdbcType=INTEGER},
      </if>
      <if test="sxed != null">
        sxed = #{sxed,jdbcType=DECIMAL},
      </if>
      <if test="caozyname != null">
        caozyname = #{caozyname,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="kFlzc != null">
        k_flzc = #{kFlzc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    update k_ndxy
    set BillCode = #{billcode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      Dates = #{dates,jdbcType=VARCHAR},
      OnTime = #{ontime,jdbcType=VARCHAR},
      StartDate = #{startdate,jdbcType=VARCHAR},
      EndDate = #{enddate,jdbcType=VARCHAR},
      BusinessCode = #{businesscode,jdbcType=VARCHAR},
      BusinessName = #{businessname,jdbcType=VARCHAR},
      k_zhangqilx = #{kZhangqilx,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      staffname = #{staffname,jdbcType=VARCHAR},
      k_khfl = #{kKhfl,jdbcType=VARCHAR},
      ContractCode = #{contractcode,jdbcType=VARCHAR},
      Legaler = #{legaler,jdbcType=VARCHAR},
      Delegation = #{delegation,jdbcType=VARCHAR},
      k_oldje = #{kOldje,jdbcType=DECIMAL},
      k_xindts1 = #{kXindts1,jdbcType=VARCHAR},
      k_xyzq = #{kXyzq,jdbcType=DECIMAL},
      k_zqtype = #{kZqtype,jdbcType=VARCHAR},
      k_khlx = #{kKhlx,jdbcType=VARCHAR},
      K_xindts = #{kXindts,jdbcType=INTEGER},
      sxed = #{sxed,jdbcType=DECIMAL},
      caozyname = #{caozyname,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      k_flzc = #{kFlzc,jdbcType=LONGVARCHAR}
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy">
    update k_ndxy
    set BillCode = #{billcode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      Dates = #{dates,jdbcType=VARCHAR},
      OnTime = #{ontime,jdbcType=VARCHAR},
      StartDate = #{startdate,jdbcType=VARCHAR},
      EndDate = #{enddate,jdbcType=VARCHAR},
      BusinessCode = #{businesscode,jdbcType=VARCHAR},
      BusinessName = #{businessname,jdbcType=VARCHAR},
      k_zhangqilx = #{kZhangqilx,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      staffname = #{staffname,jdbcType=VARCHAR},
      k_khfl = #{kKhfl,jdbcType=VARCHAR},
      ContractCode = #{contractcode,jdbcType=VARCHAR},
      Legaler = #{legaler,jdbcType=VARCHAR},
      Delegation = #{delegation,jdbcType=VARCHAR},
      k_oldje = #{kOldje,jdbcType=DECIMAL},
      k_xindts1 = #{kXindts1,jdbcType=VARCHAR},
      k_xyzq = #{kXyzq,jdbcType=DECIMAL},
      k_zqtype = #{kZqtype,jdbcType=VARCHAR},
      k_khlx = #{kKhlx,jdbcType=VARCHAR},
      K_xindts = #{kXindts,jdbcType=INTEGER},
      sxed = #{sxed,jdbcType=DECIMAL},
      caozyname = #{caozyname,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != billno">
         and t.BillNO = #{billno,jdbcType=INTEGER}
      </if>
      <if test="null != entid">
         and t.EntId = #{entid,jdbcType=VARCHAR}
      </if>
      <if test="null != billcode">
         and t.BillCode = #{billcode,jdbcType=VARCHAR}
      </if>
      <if test="null != status">
         and t.status = #{status,jdbcType=TINYINT}
      </if>
      <if test="null != dates">
         and t.Dates = #{dates,jdbcType=VARCHAR}
      </if>
      <if test="null != ontime">
         and t.OnTime = #{ontime,jdbcType=VARCHAR}
      </if>
      <if test="null != startdate">
         and t.StartDate = #{startdate,jdbcType=VARCHAR}
      </if>
      <if test="null != enddate">
         and t.EndDate = #{enddate,jdbcType=VARCHAR}
      </if>
      <if test="null != businesscode">
         and t.BusinessCode = #{businesscode,jdbcType=VARCHAR}
      </if>
      <if test="null != businessname">
         and t.BusinessName = #{businessname,jdbcType=VARCHAR}
      </if>
      <if test="null != kZhangqilx">
         and t.k_zhangqilx = #{kZhangqilx,jdbcType=VARCHAR}
      </if>
      <if test="null != department">
         and t.department = #{department,jdbcType=VARCHAR}
      </if>
      <if test="null != staffname">
         and t.staffname = #{staffname,jdbcType=VARCHAR}
      </if>
      <if test="null != kKhfl">
         and t.k_khfl = #{kKhfl,jdbcType=VARCHAR}
      </if>
      <if test="null != contractcode">
         and t.ContractCode = #{contractcode,jdbcType=VARCHAR}
      </if>
      <if test="null != legaler">
         and t.Legaler = #{legaler,jdbcType=VARCHAR}
      </if>
      <if test="null != delegation">
         and t.Delegation = #{delegation,jdbcType=VARCHAR}
      </if>
      <if test="null != kOldje">
         and t.k_oldje = #{kOldje,jdbcType=DECIMAL}
      </if>
      <if test="null != kXindts1">
         and t.k_xindts1 = #{kXindts1,jdbcType=VARCHAR}
      </if>
      <if test="null != kXyzq">
         and t.k_xyzq = #{kXyzq,jdbcType=DECIMAL}
      </if>
      <if test="null != kZqtype">
         and t.k_zqtype = #{kZqtype,jdbcType=VARCHAR}
      </if>
      <if test="null != kKhlx">
         and t.k_khlx = #{kKhlx,jdbcType=VARCHAR}
      </if>
      <if test="null != kXindts">
         and t.K_xindts = #{kXindts,jdbcType=INTEGER}
      </if>
      <if test="null != sxed">
         and t.sxed = #{sxed,jdbcType=DECIMAL}
      </if>
      <if test="null != caozyname">
         and t.caozyname = #{caozyname,jdbcType=VARCHAR}
      </if>
      <if test="null != isDelete">
         and t.is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
      <if test="null != createDate">
         and t.create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="null != updateDate">
         and t.update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="null != kFlzc">
         and t.k_flzc = #{kFlzc,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy" resultMap="BaseResultMap">
    select t.* from k_ndxy t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.sygs.pojo.mysql.kndxy.Kndxy" resultMap="BaseResultMap">
    select t.* from k_ndxy t
    <include refid="base_query" />
  </select>
</mapper>