<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sygs.dao.sqlserver.kcgflxyzc.KcgflxyzcSqlMapper">
  <resultMap id="BaseResultMap" type="com.sygs.pojo.mysql.kcgflxyzc.Kcgflxyzc">
    <id column="BillNO" jdbcType="INTEGER" property="billno" />
    <id column="EntId" jdbcType="VARCHAR" property="entid" />
    <id column="BillSn" jdbcType="INTEGER" property="billsn" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="GoodsCode" jdbcType="VARCHAR" property="goodscode" />
    <result column="GoodsName" jdbcType="VARCHAR" property="goodsname" />
    <result column="GoodsSpec" jdbcType="VARCHAR" property="goodsspec" />
    <result column="Manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="Place" jdbcType="VARCHAR" property="place" />
    <result column="Purprice" jdbcType="DECIMAL" property="purprice" />
    <result column="k_xyprice" jdbcType="VARCHAR" property="kXyprice" />
    <result column="k_zdsj" jdbcType="DECIMAL" property="kZdsj" />
    <result column="k_lsflbl" jdbcType="DECIMAL" property="kLsflbl" />
    <result column="k_flydbl" jdbcType="DECIMAL" property="kFlydbl" />
    <result column="k_fljdbl" jdbcType="DECIMAL" property="kFljdbl" />
    <result column="k_flndbl" jdbcType="DECIMAL" property="kFlndbl" />
    <result column="RebAmt" jdbcType="DECIMAL" property="rebamt" />
    <result column="Taxprice" jdbcType="DECIMAL" property="taxprice" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="viewOaKflxyzc"  parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from   View_OA_k_flxyzc where billno=#{billno} AND entid=#{entid}
  </select>

  <sql id="Base_Column_List">
    BillNO, EntId, BillSn, status, GoodsCode, GoodsName, GoodsSpec, Manufacturer, Place, 
    Purprice, k_xyprice, k_zdsj, k_lsflbl, k_flydbl, k_fljdbl, k_flndbl, RebAmt, Taxprice, 
    is_delete, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from k_cgflxyzc
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
      and BillSn = #{billsn,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql">
    delete from k_cgflxyzc
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
      and BillSn = #{billsn,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql">
    insert into k_cgflxyzc (BillNO, EntId, BillSn, 
      status, GoodsCode, GoodsName, 
      GoodsSpec, Manufacturer, Place, 
      Purprice, k_xyprice, k_zdsj, 
      k_lsflbl, k_flydbl, k_fljdbl, 
      k_flndbl, RebAmt, Taxprice, 
      is_delete, create_date, update_date
      )
    values (#{billno,jdbcType=INTEGER}, #{entid,jdbcType=VARCHAR}, #{billsn,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{goodscode,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, 
      #{goodsspec,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, 
      #{purprice,jdbcType=DECIMAL}, #{kXyprice,jdbcType=VARCHAR}, #{kZdsj,jdbcType=DECIMAL}, 
      #{kLsflbl,jdbcType=DECIMAL}, #{kFlydbl,jdbcType=DECIMAL}, #{kFljdbl,jdbcType=DECIMAL}, 
      #{kFlndbl,jdbcType=DECIMAL}, #{rebamt,jdbcType=DECIMAL}, #{taxprice,jdbcType=DECIMAL}, 
      #{isDelete,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql">
    insert into k_cgflxyzc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        BillNO,
      </if>
      <if test="entid != null">
        EntId,
      </if>
      <if test="billsn != null">
        BillSn,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="goodscode != null">
        GoodsCode,
      </if>
      <if test="goodsname != null">
        GoodsName,
      </if>
      <if test="goodsspec != null">
        GoodsSpec,
      </if>
      <if test="manufacturer != null">
        Manufacturer,
      </if>
      <if test="place != null">
        Place,
      </if>
      <if test="purprice != null">
        Purprice,
      </if>
      <if test="kXyprice != null">
        k_xyprice,
      </if>
      <if test="kZdsj != null">
        k_zdsj,
      </if>
      <if test="kLsflbl != null">
        k_lsflbl,
      </if>
      <if test="kFlydbl != null">
        k_flydbl,
      </if>
      <if test="kFljdbl != null">
        k_fljdbl,
      </if>
      <if test="kFlndbl != null">
        k_flndbl,
      </if>
      <if test="rebamt != null">
        RebAmt,
      </if>
      <if test="taxprice != null">
        Taxprice,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        #{billno,jdbcType=INTEGER},
      </if>
      <if test="entid != null">
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="billsn != null">
        #{billsn,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="goodscode != null">
        #{goodscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsspec != null">
        #{goodsspec,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="purprice != null">
        #{purprice,jdbcType=DECIMAL},
      </if>
      <if test="kXyprice != null">
        #{kXyprice,jdbcType=VARCHAR},
      </if>
      <if test="kZdsj != null">
        #{kZdsj,jdbcType=DECIMAL},
      </if>
      <if test="kLsflbl != null">
        #{kLsflbl,jdbcType=DECIMAL},
      </if>
      <if test="kFlydbl != null">
        #{kFlydbl,jdbcType=DECIMAL},
      </if>
      <if test="kFljdbl != null">
        #{kFljdbl,jdbcType=DECIMAL},
      </if>
      <if test="kFlndbl != null">
        #{kFlndbl,jdbcType=DECIMAL},
      </if>
      <if test="rebamt != null">
        #{rebamt,jdbcType=DECIMAL},
      </if>
      <if test="taxprice != null">
        #{taxprice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql">
    update k_cgflxyzc
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="goodscode != null">
        GoodsCode = #{goodscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        GoodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsspec != null">
        GoodsSpec = #{goodsspec,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        Manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        Place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="purprice != null">
        Purprice = #{purprice,jdbcType=DECIMAL},
      </if>
      <if test="kXyprice != null">
        k_xyprice = #{kXyprice,jdbcType=VARCHAR},
      </if>
      <if test="kZdsj != null">
        k_zdsj = #{kZdsj,jdbcType=DECIMAL},
      </if>
      <if test="kLsflbl != null">
        k_lsflbl = #{kLsflbl,jdbcType=DECIMAL},
      </if>
      <if test="kFlydbl != null">
        k_flydbl = #{kFlydbl,jdbcType=DECIMAL},
      </if>
      <if test="kFljdbl != null">
        k_fljdbl = #{kFljdbl,jdbcType=DECIMAL},
      </if>
      <if test="kFlndbl != null">
        k_flndbl = #{kFlndbl,jdbcType=DECIMAL},
      </if>
      <if test="rebamt != null">
        RebAmt = #{rebamt,jdbcType=DECIMAL},
      </if>
      <if test="taxprice != null">
        Taxprice = #{taxprice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
      and BillSn = #{billsn,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql">
    update k_cgflxyzc
    set status = #{status,jdbcType=TINYINT},
      GoodsCode = #{goodscode,jdbcType=VARCHAR},
      GoodsName = #{goodsname,jdbcType=VARCHAR},
      GoodsSpec = #{goodsspec,jdbcType=VARCHAR},
      Manufacturer = #{manufacturer,jdbcType=VARCHAR},
      Place = #{place,jdbcType=VARCHAR},
      Purprice = #{purprice,jdbcType=DECIMAL},
      k_xyprice = #{kXyprice,jdbcType=VARCHAR},
      k_zdsj = #{kZdsj,jdbcType=DECIMAL},
      k_lsflbl = #{kLsflbl,jdbcType=DECIMAL},
      k_flydbl = #{kFlydbl,jdbcType=DECIMAL},
      k_fljdbl = #{kFljdbl,jdbcType=DECIMAL},
      k_flndbl = #{kFlndbl,jdbcType=DECIMAL},
      RebAmt = #{rebamt,jdbcType=DECIMAL},
      Taxprice = #{taxprice,jdbcType=DECIMAL},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where BillNO = #{billno,jdbcType=INTEGER}
      and EntId = #{entid,jdbcType=VARCHAR}
      and BillSn = #{billsn,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != billno">
         and t.BillNO = #{billno,jdbcType=INTEGER}
      </if>
      <if test="null != entid">
         and t.EntId = #{entid,jdbcType=VARCHAR}
      </if>
      <if test="null != billsn">
         and t.BillSn = #{billsn,jdbcType=INTEGER}
      </if>
      <if test="null != status">
         and t.status = #{status,jdbcType=TINYINT}
      </if>
      <if test="null != goodscode">
         and t.GoodsCode = #{goodscode,jdbcType=VARCHAR}
      </if>
      <if test="null != goodsname">
         and t.GoodsName = #{goodsname,jdbcType=VARCHAR}
      </if>
      <if test="null != goodsspec">
         and t.GoodsSpec = #{goodsspec,jdbcType=VARCHAR}
      </if>
      <if test="null != manufacturer">
         and t.Manufacturer = #{manufacturer,jdbcType=VARCHAR}
      </if>
      <if test="null != place">
         and t.Place = #{place,jdbcType=VARCHAR}
      </if>
      <if test="null != purprice">
         and t.Purprice = #{purprice,jdbcType=DECIMAL}
      </if>
      <if test="null != kXyprice">
         and t.k_xyprice = #{kXyprice,jdbcType=VARCHAR}
      </if>
      <if test="null != kZdsj">
         and t.k_zdsj = #{kZdsj,jdbcType=DECIMAL}
      </if>
      <if test="null != kLsflbl">
         and t.k_lsflbl = #{kLsflbl,jdbcType=DECIMAL}
      </if>
      <if test="null != kFlydbl">
         and t.k_flydbl = #{kFlydbl,jdbcType=DECIMAL}
      </if>
      <if test="null != kFljdbl">
         and t.k_fljdbl = #{kFljdbl,jdbcType=DECIMAL}
      </if>
      <if test="null != kFlndbl">
         and t.k_flndbl = #{kFlndbl,jdbcType=DECIMAL}
      </if>
      <if test="null != rebamt">
         and t.RebAmt = #{rebamt,jdbcType=DECIMAL}
      </if>
      <if test="null != taxprice">
         and t.Taxprice = #{taxprice,jdbcType=DECIMAL}
      </if>
      <if test="null != isDelete">
         and t.is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
      <if test="null != createDate">
         and t.create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="null != updateDate">
         and t.update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql" resultMap="BaseResultMap">
    select t.* from k_cgflxyzc t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.sygs.pojo.sqlserver.kcgflxyzc.KcgflxyzcSql" resultMap="BaseResultMap">
    select t.* from k_cgflxyzc t
    <include refid="base_query" />
  </select>
</mapper>